.header {
    height: 70px;
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    background-size: 20%;
}
.logo {
    height: 30px;
    margin-top: 40px;
}
.Titolo-articolo {
    margin: 0;
}
.testo-blu {
    color: blue;
}
.data {
    margin-bottom: 5px;
}
.testo-importante {
    background-color: yellow;
}
.unordered-list {
    padding: 15px;
    margin: 0;
    text-align: left;
   
}
.tabella-informazioni {
    text-align: left;
    width: 1750px;
}
th,td {
    width: 35%;
}
.intestazione {
background-color: lightblue;
height: 20px;
}
.riga-verde {
    background-color: lightgreen;
}
.Testo-finale {
    color: grey;
}
.contenitore-foto {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background-image: url(../img/graph.jpg);
}
.testo-bianco {
    color: white;
}
.foto-finale {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background-image: url(../img/monitor.jpg);
}
